.root {
    font-family: Arial, Helvetica, sans-serif;
}


.header {
    margin: 0 10%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.header__title {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.header__logo {
    max-width: 40px;
    max-height: 40px;
    margin: 0 10px 0 0;
}

.header__title_text {
    font-weight: 500;
    font-size: 24px;
    margin: 0;
}


.header__form {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form__input {
    width: 70vw;
    height: 40px;
    border: 1px solid blue;
    border-radius: 40px 0 0 40px;
}



.form__button {
    width: 10vw;
    height: 44px;
    border: 1px solid blue;
    border-radius: 0 40px 40px 0;
    background: blue;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 0;
    transition: .3s linear;
}



.form__button:hover {
    opacity: .7;
}


.repositories {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.repository__length {
    margin: 0 0 40px 0;
    font-size: 16px;
    font-weight: 500;
    display: none;
}




.repository__length_active {
    display: block;
}


.loading {
    display: none;
    margin: 0 0 40px 0;
    font-size: 16px;
    font-weight: 500;
}


.loading__active {
    display: block;
}




.repositories__unit {
    margin: 0 0 30px 0;
    border-bottom: 1px solid gray;
    max-height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 80vw;

}

.repositories__unit-img {
    width: 40px;
    height: 40px;
    opacity: .6;
    margin: 0 20px 0 0;
}

.repositories__unit_info {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.unit_info-title {
    margin: 0 0 15px 0;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    transition: .3s linear;
}


.unit_info-title:hover {
    opacity: .7;
}


.unit_info-subtitle {
    margin: 0 0 10px 0;
    font-weight: 500;
    font-size: 20px;
    color: gray;
}